/* Some primery changes for bootstrap */
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus,
a:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
      outline: none;
}
.form-control {
	-webkit-box-shadow: none;
        	box-shadow: none;
}
.form-control:focus {
	border-color: #875ca4;
	outline: 0;
	-webkit-box-shadow: none;
        	box-shadow: none;
}
.btn-default:active,
.btn-default.active,
.btn-default.active:hover,
.btn-default.active:focus,
.btn-default.active.focus,
.open > .dropdown-toggle.btn-default:hover,
.open > .dropdown-toggle.btn-default:focus,
.open > .dropdown-toggle.btn-default.focus,
.open > .dropdown-toggle.btn-default {
    color: #fff;
    background: #875ca4;
    border-color: #875ca4;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
a {
    color: #875ca4;
}
a:hover, a:focus {
    color: #67467D;
    text-decoration: none;
}
.btn-primary:hover {
    background-color: #784B96;
    border-color: #784B96;
}
.btn-primary {
    background-color: #875ca4;
    border-color: #875ca4;
}
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary,
.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus{
    background-color: #67467D;
    border-color: #67467D;
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-default {
    background: white;
    border: none;
}
.navbar {
    margin-bottom: 0;
}
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}


.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}


.navbar-header {
float: left;
}
.navbar-nav > li > a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.navbar-nav{
	margin: 0;
}
.img-thumbnail.champion {
  padding: 1px;
  background-color: #785291;
  border: 1px solid #785291;
  -webkit-transition: none;
       -o-transition: none;
          transition: none;
}

html {
	position: relative;
	min-height: 100%;
}
#navbar {
    margin-top: 28px;
}
.logo{
    height: 81px;
    width: auto;
}
.donation{
	text-align: center;
}
.main-text{
	margin-top: 50px;
}
.nav > li > a:hover, .nav > li > a:focus {
	text-decoration: none;
	border-bottom: 3px solid #785291;
}
.donate-section{
	margin-top: 50px;
	margin-bottom: 30px;
}
.no-padding{
	padding: 0;
}
.half-opacity{
	opacity: 0.5;
}
.combined-input{
	margin: 0 15px 35px 15px;
}
.left.btn-lg, .btn-group-lg > .btn{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.right.btn-lg, .btn-group-lg > .btn{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.right{
    border-left-width: 0px !important;
}
.left{
    border-right-width: 0px !important;
}
.choiceLabel{
    cursor: pointer !important;
    margin: 0px !important;
    width: 100%;
    height: 100%;
    font-weight: normal;
}
.combined-input > .btn-lg,
.combined-input > .btn {
	padding: 0;
	min-height: 44px;
	line-height: 44px;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type=number] {
	-moz-appearance: textfield;
}
.error-msg{
	color: red;
	display: none;
}
.quote-section{
	background-color:#67467D;
	padding: 20px 0;
}
.champion{
	width: 100%;
}
.source-quote{
	margin-top: 30px;
	color: white;
}
blockquote {
	text-align: justify;
	display: block;
	padding: 5px 0px 5px 45px;
	margin: 20px 0 0 0;
	position: relative;
	font-size: 20px;
	border-left: 5px solid #785291;
    color: #ffffff;
}
blockquote::before {
	content: "\201C";
	position: absolute;
	left: 10px;
	top: -20px;
	font-size: 80px;
}
blockquote footer{
	color: rgb(240,240,240);
}
.donate-button {
	background-color: #4FAB76;
	border-color: #47996A;
}
.donate-button:hover,
.donate-button:focus,
.donate-button:active,
.donate-button:active:hover,
.donate-button:active:focus{
	background-color: #47996A;
	border-color: #47996A; 
}
#other-ways-section > .container-fluid{
	padding: 0;
}
.hundred.toptwenty{
	text-align: justify;
	margin-top: 0;
}
.row-eqheight{
    overflow: hidden; 
    padding-bottom: 20px
}
.row-eqheight > [class*="col-"]{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.bitcoin{
	padding-top: 10px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #F5F5F5;
}
#bitpayDonation > .well > .form-group {
    margin-right: 0;
    margin-left: 0;
}
#bitpayDonation > .well {
	box-shadow: none;
	border-radius: 7px;
	margin-bottom: 0;
}
.check-eutransfer{
	padding-top: 20px;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #F0F0F0;
}
.even-more{
	padding: 25px 0;
	background-color: #FAFAFA;
}
.dsmall{
	padding: 0 8%;
}
.other-ways-img{
	width: 100%;
}
.img-thumbnail.other-ways-img {
	padding: 1px;
	transition: none 0s ease 0s;
	border: 2px solid rgb(221, 221, 221);
}
.get-in-touch{
	background-color: #35734F;
	color: #fff;
}
.title {
    min-height: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-right: 3px solid #3D855B;
    padding-top: 25px;
}
.detail {
    margin-bottom: 0px;
    margin-top: 50px;
}
footer.footer{
    width: 100%;
    /* Set the height of the footer here */
    /*height: 65px;*/
    padding-top: 20px;
    padding-bottom: 10px;
    background-color: #f5f5f5;
}
@media (max-width: 991px) {
	blockquote {
		margin: 5px 0 0 0;
		font-size: 18px;
	}
	.source-quote{
		margin-top: 20px;
	}
}
@media (max-width: 767px)  {
	.main-text{
		font-size: 28px;
	}
	blockquote {
		margin: 0;
		font-size: 16px;
		border: none;
	}
	.img-section{
		width: 20%;
		float: left;
	}
	blockquote::before {
		display: none;
	}
	.dsmall{
		padding: 0 5%;
	}

}
@media (max-width: 659px)  {
	.main-text{
		font-size: 26px;
	}
	blockquote {
		font-size: 17px;
		margin: 0;
	}
	.img-section{
		width: 30%;
	}
	.champion{
		width: 100%;
	}
}
@media (max-width: 549px)  {
	.main-text{
		font-size: 24px;
	}
	blockquote {
		font-size: 15px;
	}
}
@media (max-width: 449px)  {
	.main-text{
		font-size: 22px;
	}
	blockquote {
		font-size: 14px;
		padding: 0;
	}

}

@media (max-width: 399px)  {
	.logo {
	    text-align: center;
	    height: 60px;
	    float: none;
	}
	.navbar-header{
		width: 100%;
	    text-align: center;	
	}
	.navbar-brand > img {
    	display: initial;
	}
	.navbar-brand {
    	float: initial;
	}
	.container > .navbar-header,
	.container-fluid > .navbar-header,
	.container > .navbar-collapse,
		.container-fluid > .navbar-collapse {
	    margin-right: 0;
	    margin-left: 0;
	}
	.navbar-nav.navbar-right:last-child {
	    margin-right: 0 !important;
	}
	#navbar{
		width: 100%;
		margin: 0;
		height: 53px;
	}
	#navbar > li {
	    width: 33.3%;
	    text-align: center;
	}
	.main-text{
		font-size: 20px;
	}
	#donate > .btn-group > .col-xs-6 {
    width: 100%;
	}
	blockquote {
		font-size: 14px;
		padding: 0;
	}
	.img-section{
		width: 35%;
	}
	.dsmall{
		padding: 0 3%;
	}
	footer.footer {
	    margin-bottom: 0px;
	}
	footer.footer > p {
	    font-size: 12px;
	}

}