RewriteEngine On

# moved to /docs/
RewriteRule ^faq(.*) /docs/faq$1 [R=301,L]
RewriteRule ^bridges(.*) /docs/bridges$1 [R=301,L]
RewriteRule ^abuse(.*) /docs/abuse$1 [R=301,L]
RewriteRule ^documentation(.*) /docs/documentation$1 [R=301,L]
RewriteRule ^verifying-signatures(.*) /docs/verifying-signatures$1 [R=301,L]
RewriteRule ^tor-manual(.*) /docs/tor-manual$1 [R=301,L]

# Torbutton
RewriteRule ^torbutton/design(.*) /docs/torbutton/en/design$1 [R=301,L]
RewriteRule ^torbutton/(.*) /docs/torbutton/$1 [R=301,L]

# Tor Browser
RewriteRule ^torbrowser/dist/(.*) /dist/torbrowser/$1 [R=301,L]
#RewriteRule ^torbrowser/$ /projects/torbrowser.html.en [R=301,L]
RewriteRule ^torbrowser(.*) /projects/torbrowser.html.en [R=301,L]

# tordnsel
RewriteRule ^tordnsel/dist/(.*) /dist/tordnsel/$1 [R=301,L]

# Overview
RewriteRule ^overview(.*) /about/overview$1 [R=301,L]

# Press
RewriteRule ^press/$ /press/press [R=301,L]
RewriteRule ^press/index.html(.*) /press/press.html$1 [R=301,L]

# Projects
RewriteRule ^projects/$ /projects/projects [R=301,L]

#Pluggable Transports
RewriteRule ^PT/$ /docs/pluggable-transports [R=301,L]
RewriteRule ^projects/obfsproxy-debian-instructions(.*) /docs/pluggable-transports [R=410,L]
RewriteRule ^projects/obfsproxy-instructions(.*) /docs/pluggable-transports [R=410,L]
RewriteRule ^projects/obfsproxy(.*) /docs/pluggable-transports [R=301,L]

# GetInvolved
RewriteRule ^getinvolved/$ /getinvolved/volunteer [R=301,L]
RewriteRule ^volunteer(.*) /getinvolved/volunteer$1 [R=301,L]
RewriteRule ^tshirt(.*) /getinvolved/tshirt$1 [R=301,L]

RewriteRule ^research(.*) https://research.torproject.org/ [R=301,L]
RewriteRule ^getinvolved/research(.*) https://research.torproject.org/ [R=301,L]

# other (feel free to categorize)
RewriteRule ^people(.*) /about/corepeople$1 [R=301,L]
RewriteRule ^donate/$ /donate/donate [R=301,L]
RewriteRule ^contact(.*) /about/contact$1 [R=301,L]

# Download websites
RewriteRule ^download/$ /download/download [R=301,L]
RewriteRule ^download.html(.*) /download/download.html$1 [R=301,L]
RewriteRule ^easy-download(.*) /download/download-easy$1 [R=301,L]

# Relays
RewriteRule ^relays(.*) /getinvolved/relays [R=301,L]

# Index Pages
RewriteRule ^about/$ /about/overview [R=301,L]
RewriteRule ^cgi-bin/$ / [R=301,L]
RewriteRule ^css/$ / [R=301,L]
RewriteRule ^docs/$ /docs/documentation [R=301,L]
RewriteRule ^eff/$ / [R=301,L]
RewriteRule ^en/$ / [R=301,L]
RewriteRule ^images/$ / [R=301,L]
RewriteRule ^include/$ / [R=301,L]
RewriteRule ^js/$ / [R=301,L]

# Donation campagin
# 2016
RewriteRule ^donate/donate-homepage-en(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-twitter-en(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-share-en(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-fb-en(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-blog-en(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-email-en(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-de(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-en(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-es(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-fa(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-fr(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-it(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-nl(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-pt(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-ru(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-tr(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-vi(.*) https://donate.torproject.org [R=302,L]
RewriteRule ^donate/donate-tbb-zh(.*) https://donate.torproject.org [R=302,L]

# 2015
RewriteRule ^donate/donate-twitter(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-tbb(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-banner(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-download(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-button(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/giving-tue-blog(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-roger(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-george-torwell(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-molly(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-rabbirob(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-cory(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-hpbanner(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-benw(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-ellsberg(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-alison(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-snowden(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-appelbaum(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-chaos(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-nanni(.*) /donate/donate$1 [R=302,L]
RewriteRule ^donate/donate-blog-landau(.*) /donate/donate$1 [R=302,L]
#keep prefixes of other entries down here...
RewriteRule ^donate/donate-hp(.*) /donate/donate$1 [R=302,L]

# yuck, https://twitter.com/torproject/status/677928074630049793
RewriteRule ^Donate/Donate-Twitter(.*) /donate/donate$1 [R=302,L]

