body {
	background-color: white;
	margin-top: 0px;
	font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, verdana, "Bitstream Vera Sans", arial, helvetica, sans-serif;
	font-size: 8pt;
	font-style: normal;
	color: #000000;
	padding-top: 0px;
	text-align: justify;
}

/* images */

img {
	border: 0;
	z-index: 0;
}


li {
	text-align: justify;
	list-style-type: square;
	margin-left: -8px;
	margin-top: 2px;
	margin-bottom: 4px;
	margin-right: 2px;
}

/* this centers the page */

.center {
    text-align: center;
    background-color: white;
    margin: 0px auto 0 auto;
    width: 85%;
}

.center table {
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

/* for the shadow box */

table.shadowbox {
    width: 788px;
    border-collapse: collapse;
    padding: 0;
    margin-bottom: 2em;
}

table.shadowbox td {
    margin: 0;
    padding: 0;
}

/* spacer */

td.spacer {
    width: 110px;
}

div.banner {
	height: 79px;
	margin-bottom: 10px;
	text-align: left;
}

table.table-banner {
    margin: 0 auto 0 auto;
    background-image: url("/images/tor_mast.gif");
    background-repeat: no-repeat;
}

div.bottom {
	font-size: 7pt;
	text-align: center;
	margin: 10px;
	padding-top: 10px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #666666;
}

/* the sidebars */

div.sidebar {
	float: right;
	margin: 0 0 10px 20px;
	width: auto;
	text-align: center;
	border: 1px solid #333;
	padding: 5px 15px;
	background-image: url(/images/sbbg.png);
	font-size: 9pt;
	background-color: #FFFFFF;
}

div.sidebar-left {
	float: right;
	margin: 0 0 10px 20px;
	padding: 0px 10px 5px;
	width: auto;
	text-align: left;
	font-size: 9pt;
	list-style-type: square;
	border: 1px solid #333;
	background-image: url(/images/sbbg.png);
	background-color: #FFFFFF;
}

/* The main column (left text) */

div.main-column {
	padding: 0px 20 10px 20px;
	text-indent: 0pt;
	font-size: 9pt;
	direction: ltr;
	text-align: left;
	margin: -10px 20px 0px;
}

/* formatting styles */

h1 {
    font-size: 12pt;
    margin-bottom: 10px;
    margin-top: 4px;
}

h2 {
	font-size: 11pt;
	margin-bottom: 10px;
	font-weight: bold;
	margin-top: 15px;
	background-image: url(/images/onion_medium.png);
	background-repeat: no-repeat;
	background-position: 2px 0px;
	text-indent: 18pt;
	padding: 10px 0px 6px;
	line-height: 105%;
	margin-right: 0px;
	margin-left: 0px;
	border-bottom: 1px solid #666666;


}

h3 {
	font-size: 11pt;
	margin-bottom: 10px;
	font-weight: bold;
	margin-top: 5px;
	margin-bottom: 8px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #666666;
	padding-top: 10px;
	padding-bottom: 5px;
}

h4 {
    font-size: 11pt;
    margin-bottom: 8px;
    font-weight: bold;
    margin-top: 4px;
	margin-bottom: 6px;
}

h5 {
    font-size: 10pt;
    margin-bottom: 6px;
    font-weight: bold;
    margin-top: 4px;
	margin-bottom: 6px;
}

p {
	margin-bottom: 10px;
	text-align: justify;

}

a:link {
    color: #005500;
    font-size: 1em;
}

a:visited {
	color: #005500;
	font-size: 1em;
	text-decoration: none;

}

a.anchor:link {
	font-size: 11pt;
	color: black;
	font-weight: bold;
	text-decoration: none;
	margin-top: 4px;
	margin-bottom: 8px;
}

a.anchor:visited {
    font-size: 11pt;
    color: black;
    font-weight: bold;
    text-decoration: none;
    margin-top: 4px;
	margin-bottom: 8px;
}

a.anchor {
	font-size: 11pt;
	color: black;
	font-weight: bold;
	text-decoration: underline;
    margin-top: 4px;
	margin-bottom: 8px;
}

td {
    vertical-align: top;
}

a.smalllink {
    font-size: 7pt;
}

/* the banner */

table.banner {
	height: 79px;
	margin-left: auto;
	margin-right: auto;
	vertical-align: middle;
	width: auto;
}

td.banner-left {
	/* This is done with an <img> in the HTML so it can be clickable
    background-image: url("/images/top-left.png");
    background-repeat: no-repeat; */
    width: 193px;
}

td.banner-middle {
	background-color: #00802B;
	background-image: url("/images/top-middle.png");
	background-repeat: repeat-x;
	vertical-align: middle;
	text-align: center;
	padding-left: 10px;
	min-width: 490px;
}

td.banner-middle a, td.banner-middle a:visited {
	margin-right: 5px;
	color: white;
	font-weight: bold;
	font-size: 10pt;
	vertical-align: middle;

}

td.banner-middle a:hover {
    color: #FF7F00;
    font-weight: bold;
    font-size: 10pt;
}

td.banner-right {
    background-image: url("/images/top-right.png");
    background-repeat: no-repeat;
    width: 16px;
    background-position: right;
    padding-top: 8px;
	min-width: 16px;
}

.banner-middle a.current {
	text-decoration: none;
	color: #FF7F00;
	font-weight: bold;
	font-size: 10pt;
	width: auto;
	left: -50px;
	vertical-align: middle;

}

.donatebutton {
	width: 111px;
	text-align: center;
	height: 40px;
}

.donatebutton a {
	margin: 8px 0px 0px;
	font-weight: bold;
	display: block;
	padding: 8px 10px 10px;
	color: #FFFFFF;
	text-align: right;
	background-image: url(/images/donate-rollover.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-size: 8pt;
	text-decoration: none;

}

.donatebutton a:hover {
	color: #F47A0E;
	background-image: url(/images/donate-rollover.png);
	background-repeat: no-repeat;
	background-position: 0px -32px;
}

.donatebutton a:active {
        color: #F47A0E;
	background-image: url(/images/donate-rollover.png);
	background-repeat: no-repeat;
	background-position: 0px -64px;
}

.downloadbutton {
	width: 111px;
	text-align: center;
	height: 32px;
}

.downloadbutton a {
	margin: 2px 0px 0px;
	font-weight: bold;
	padding: 8px 10px 10px;
	color: #FFFFFF;
	display: block;
	text-align: right;
	background-image: url(/images/download-rollover.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	font-size: 8pt;
	text-decoration: none;


}

.downloadbutton a:hover {
	color: green;
	background-image: url(/images/download-rollover.png);
	background-repeat: no-repeat;
	background-position: 0px -32px;
}

.downloadbutton a:active {
	color: #AA4400;
	background-image: url(/images/download-rollover.png);
	background-repeat: no-repeat;
	background-position: 0px -64px;
}

.donatebutton a:active {
	color: green;
	background-image: url(/images/donate-rollover.png);
	background-repeat: no-repeat;
	background-position: 0px -64px;
}

/* these styles are for the menu on the gui contest pages */

.guileft {
	 width: 25%;
	 float: left;
	 padding: 0;
	 margin: 0;
}

.guimenu {
	 border: 1px solid #AAA6AB;
	 background-color: #E2DFE3;
	 margin: 0 15px 15px 0;
	 padding: 0;
}

.guimenuinner a {
	      display: block;
	      text-decoration: none;
	      padding: 2px 0px 0px 12px;
	      margin: 0 0 0 0px;
	      color: #333333;
}

.guimenuinner a:visited {
	      color: #333333;
}

.guimenuinner a:hover {
	      background-image: url(gui/img/arrow.png);
	      background-repeat: no-repeat;
	      background-position: left;
	      color: #EF8012;
}

.guimenuinner a.on {
	      background-image: url(gui/img/arrow.png);
	      background-repeat: no-repeat;
	      background-position: left;
	      color: #EF8012;
}


.guimenu h1 {
         width: 85%;
	 font-size: 16px;
	 margin: 0 0 8px 0;
	 padding: 0;
	 border-bottom: 1px solid #AAA6AB;
}

.curveleft {
	   background-image: url(gui/img/corner-topleft.png);
	   background-repeat: no-repeat;
	   background-position: top left;
	   margin: -1px;
}

.curveright {
	    background-image: url(gui/img/corner-topright.png);
	    background-repeat: no-repeat;
	    background-position: top right;
}

.guimenuinner {

	      padding: 0 10px 0 10px;
}


.curvebottomleft {
		 background-image: url(gui/img/corner-bottomleft.png);
		 background-repeat: no-repeat;
		 background-position: bottom left;
		 margin: -1px;
}

.curvebottomright {
		  background-image: url(gui/img/corner-bottomright.png);
		  background-repeat: no-repeat;
		  background-position: bottom right;
}


table.mirrors {
	margin: 0 auto;
	border-width: 3px;
	border-color: gray;
	border-style: ridge;
	border-collapse: collapse;
}
table.mirrors th {
	border: 1px solid gray;
	background-color: #DDDDDD;
}
table.mirrors td {
	border: 1px solid gray;
	padding: 4px;
}

acronym {
  border-bottom: none;
}

dt {
	font-weight: bolder;
	font-style: italic;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: 20px;
	margin-left: 20px;
}
hr {
	height: 1px;
	color: #666666;
	style: noshade;
	background-color;
	line-height: 0px;
	background-color: #CCCCCC;
	font-size: 1px;
	margin: 5px 0px -5px 0px;
}
.sitemap {
	list-style-type: square;
	list-style-position: outside;
	color: #00aa00;
	font-size: 7pt;
	line-height: 104%;
	vertical-align: middle;
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #003300;
	padding-left: 5px;
	background-image: url(/images/sbbg.png);
	background-repeat: repeat;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #003300;
	margin: 0px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}
.inviz {
	font-size: 1px;
}
/* autoflow for images */
.imagefloat {
	float: right;
	font-size: 8pt;
	margin: 0px;
	padding-top: 5px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 20px;
	background-color: #FFFFFF;
}
ol {
	margin-right: -18px;
	margin-left: -18px;
}
